$canvasWidth: 60;

.canvas-wrapper {
	position: absolute;
	bottom: 7.5%;
	width: $canvasWidth * 1vw;
	margin: 0 (((100 - $canvasWidth) / 2) * 1vw);
}

.canvas {
	width: 100%;
	height: $canvasWidth * 0.275 * 1vw;
	display: flex;
	justify-content: space-between;
	z-index: 1;
}

$gap: 15px;

.canvas__block {
	background-color: #ffffff;
	margin: 0 5px;
	flex-grow: 1;
	border-radius: 1.5vw;
	@include q(lg) {
		margin: 0 7.5px;
	}
}
